@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mali');

$family-sans-serif: 'Mali', sans-serif;
$primary: #F9C0C0 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;
$hero-darken-proportion: .8 !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.whatsapp {
  color: #25D366;
}
.instagram {
  color: #833AB4;
}
.envelope {
  color: #000000;
}
.rss {
  color: #000000;
}
